version: '3.9'

networks:
  loki:

services:
  loki:
    image: grafana/loki:2.2.1
    ports:
      - 3100:3100
    volumes:
      - $PWD/loki:/etc/loki
    command: -config.file=/etc/loki/loki-config.yaml
    networks:
      - loki


  promtail:
    image: grafana/promtail:2.2.1
    volumes:
      - /var/log:/var/log
      - $PWD/promtail:/etc/promtail
      - /var/lib/docker/containers:/var/lib/docker/containers
      - /var/run/docker.sock:/var/run/docker.sock
    command: -config.file=/etc/promtail/promtail-config.yaml
    networks:
      - loki


  grafana:
    image: grafana/grafana:latest
    ports:
      - 3000:3000
    volumes:
      - $PWD/grafana/grafana.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
    networks:
      - loki
